.photo_container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-width: 100%;
    border: dotted green;
    border-width: 5px;
    border-radius: 6px;
    padding: 5%;
    margin: 0;
    background-color: #f0f0f0;
}
#video, #canvas {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
#takePhotoBtn, #savePhotoBtn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
#savePhotoBtn {
    display: none;
}
#message {
    margin-top: 20px;
    font-weight: bold;
}